# Environnement virtuel
env/
venv/
ENV/

# Cache Python
__pycache__/
*.py[cod]
*$py.class

# Base de données locale
db.sqlite3

# Fichiers de logs
*.log

# Fichiers macOS
.DS_Store

# Fichiers d'éditeur
.vscode/
.idea/

# Migrations générées automatiquement
*/migrations/__pycache__/
*.sqlite3

